.container {
    margin-top: 20px;
}

tr {
    line-height: 2;
    border-top: #DEDEDE 1px dotted;
    border-bottom: #DEDEDE 1px dotted;
}

#table {
    margin-bottom: 50px;
}

tr#item_disabled {
    background-color: lightgreen;
}